{{template "header.html" dict "Title" "Photo Bingo"}}

{{.User}}

{{- $baseURL := .BaseURL -}}

<table border="1">
    {{range $y, $col := .Board -}}
    <tr>
        {{range $x, $space := $col -}}
        <td class="{{if $space.Completed}}completed{{else}}incomplete{{end}}">
            <a href="{{$baseURL}}/spaces/{{$x}}/{{$y}}">
                {{if $space.Completed}}✅{{else}}❌{{end}}<br />
                {{$space.Goal.Name}}
            </a>
        </td>
        {{- end}}
    </tr>
    {{- end}}
</table>

Score: {{.Score}}

{{template "footer.html"}}